
section {
  padding: 60px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-social {
  margin-top: 30px;
}
.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: white;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #fab702;
  color: #fab702;
}

.contact-content {
    text-align:center;
  img {
    max-width: 210px;
  }
}

section,
footer {
  background: #1a1e25;
  color: white;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}
